
.container{
  border: 2px solid black;
  width: 95vw;

  height: 33vh;
}

th, td{
  text-align: center;
  border: 1px solid gray;
  padding: 2rem;

}
.container{
  width: 95vw;
  height: 50vh;


}
#top-left{
border-bottom: 10px solid white;
border-right: 10px solid white;

}

#visitor{
cursor: pointer;
border: 1px solid white;
background-color: rgba(0,0,0,.2);

}
.on{
border: 2px solid red;
background-color: red;

}
table{
  display: inline;

}
input::-webkit-inner-spin-button{
width: 200px!important;
height: 200px!important;
}

input{
  height: 200px;

}
#increment{

    width: 33vw;
}
